openapi: 3.0.3
info:
  title: GeekGully Platform API
  description: |
    Complete API specification for the GeekGully educational platform.
    
    ## Authentication
    All protected endpoints require a Bearer token in the Authorization header.
    Tokens are obtained via the `/api/auth/login` or `/api/auth/oauth/{provider}` endpoints.
    
    ## Rate Limiting
    - Public endpoints: 100 requests/minute
    - Authenticated endpoints: 500 requests/minute
    - Upload endpoints: 20 requests/minute
    
    ## Pagination
    List endpoints support pagination via `page` and `limit` query parameters.
    Response includes `total`, `page`, `limit`, and `totalPages` in metadata.
  version: 1.0.0
  contact:
    name: GeekGully Support
    email: support@geekgully.com
  license:
    name: Proprietary
    url: https://geekgully.com/terms

servers:
  - url: https://api.geekgully.com/v1
    description: Production server
  - url: https://staging-api.geekgully.com/v1
    description: Staging server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User management operations
  - name: Roles
    description: Role and permission management
  - name: User Groups
    description: User group management
  - name: Categories
    description: Content category management
  - name: Courses
    description: Course management
  - name: Lessons
    description: Lesson and section management
  - name: Articles
    description: Article management
  - name: Workflow
    description: Content workflow and review
  - name: Attachments
    description: File upload and management
  - name: Enrollments
    description: Course enrollment and progress
  - name: Public
    description: Public content endpoints
  - name: Tasks
    description: User tasks and notifications
  - name: Analytics
    description: Platform analytics
  - name: Comments
    description: Content comments

paths:
  # ============================================
  # AUTHENTICATION
  # ============================================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Email already exists

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout current user
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out successfully

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid refresh token

  /auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Request password reset
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset email sent if account exists

  /auth/reset-password:
    post:
      tags: [Authentication]
      summary: Reset password with token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password reset successful
        '400':
          description: Invalid or expired token

  /auth/oauth/{provider}:
    post:
      tags: [Authentication]
      summary: OAuth login
      operationId: oauthLogin
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, github]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: OAuth authorization code
                redirectUri:
                  type: string
      responses:
        '200':
          description: OAuth login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ============================================
  # USER MANAGEMENT
  # ============================================
  /users:
    get:
      tags: [Users]
      summary: List users
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, deactivated, invited]
        - name: role
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [name, email, createdAt, lastLogin]
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'

    post:
      tags: [Users]
      summary: Create user
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{id}:
    get:
      tags: [Users]
      summary: Get user by ID
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Users]
      summary: Update user
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      tags: [Users]
      summary: Delete user
      operationId: deleteUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: User deleted

  /users/{id}/status:
    patch:
      tags: [Users]
      summary: Toggle user status
      operationId: toggleUserStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, deactivated]
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/invite:
    post:
      tags: [Users]
      summary: Invite user
      operationId: inviteUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ============================================
  # ROLES & PERMISSIONS
  # ============================================
  /roles:
    get:
      tags: [Roles]
      summary: List roles
      operationId: listRoles
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'

    post:
      tags: [Roles]
      summary: Create role
      operationId: createRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

  /roles/{id}:
    get:
      tags: [Roles]
      summary: Get role
      operationId: getRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Role details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

    put:
      tags: [Roles]
      summary: Update role
      operationId: updateRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

    delete:
      tags: [Roles]
      summary: Delete role
      operationId: deleteRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Role deleted

  /roles/{id}/permissions:
    put:
      tags: [Roles]
      summary: Update role permissions
      operationId: updateRolePermissions
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionMatrix'
      responses:
        '200':
          description: Permissions updated

  /permissions:
    get:
      tags: [Roles]
      summary: List all permissions
      operationId: listPermissions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'

  # ============================================
  # USER GROUPS
  # ============================================
  /user-groups:
    get:
      tags: [User Groups]
      summary: List user groups
      operationId: listUserGroups
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of user groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserGroup'

    post:
      tags: [User Groups]
      summary: Create user group
      operationId: createUserGroup
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserGroupRequest'
      responses:
        '201':
          description: User group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'

  /user-groups/{id}:
    get:
      tags: [User Groups]
      summary: Get user group
      operationId: getUserGroup
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: User group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'

    put:
      tags: [User Groups]
      summary: Update user group
      operationId: updateUserGroup
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserGroupRequest'
      responses:
        '200':
          description: User group updated

    delete:
      tags: [User Groups]
      summary: Delete user group
      operationId: deleteUserGroup
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: User group deleted

  /user-groups/{id}/members:
    post:
      tags: [User Groups]
      summary: Add members to group
      operationId: addGroupMembers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                role:
                  type: string
                  enum: [member, admin]
                  default: member
      responses:
        '200':
          description: Members added

  /user-groups/{id}/members/{userId}:
    delete:
      tags: [User Groups]
      summary: Remove member from group
      operationId: removeGroupMember
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Member removed

  # ============================================
  # CONTENT CATEGORIES
  # ============================================
  /categories:
    get:
      tags: [Categories]
      summary: Get category tree
      operationId: getCategoryTree
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Category tree
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

    post:
      tags: [Categories]
      summary: Create category
      operationId: createCategory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'

  /categories/{id}:
    get:
      tags: [Categories]
      summary: Get category
      operationId: getCategory
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'

    put:
      tags: [Categories]
      summary: Update category
      operationId: updateCategory
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
      responses:
        '200':
          description: Category updated

    delete:
      tags: [Categories]
      summary: Delete category
      operationId: deleteCategory
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Category deleted

  /categories/{id}/user-groups:
    put:
      tags: [Categories]
      summary: Assign user groups to category
      operationId: assignCategoryUserGroups
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userGroupIds]
              properties:
                userGroupIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: User groups assigned

  /categories/{id}/reorder:
    patch:
      tags: [Categories]
      summary: Reorder categories
      operationId: reorderCategories
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newIndex]
              properties:
                newIndex:
                  type: integer
                parentId:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Categories reordered

  # ============================================
  # COURSES
  # ============================================
  /courses:
    get:
      tags: [Courses]
      summary: List courses
      operationId: listCourses
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WorkflowStatus'
        - name: categoryId
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseListResponse'

    post:
      tags: [Courses]
      summary: Create course
      operationId: createCourse
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCourseRequest'
      responses:
        '201':
          description: Course created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'

  /courses/{id}:
    get:
      tags: [Courses]
      summary: Get course
      operationId: getCourse
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'

    put:
      tags: [Courses]
      summary: Update course
      operationId: updateCourse
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCourseRequest'
      responses:
        '200':
          description: Course updated

    delete:
      tags: [Courses]
      summary: Delete course
      operationId: deleteCourse
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Course deleted

  /courses/{id}/structure:
    get:
      tags: [Courses]
      summary: Get course structure
      operationId: getCourseStructure
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Full course hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseStructure'

    put:
      tags: [Courses]
      summary: Update course structure
      operationId: updateCourseStructure
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseStructure'
      responses:
        '200':
          description: Structure updated

  /courses/{id}/status:
    patch:
      tags: [Courses]
      summary: Update course workflow status
      operationId: updateCourseStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/WorkflowStatus'
      responses:
        '200':
          description: Status updated

  # ============================================
  # SECTIONS & LESSONS
  # ============================================
  /courses/{courseId}/sections:
    post:
      tags: [Lessons]
      summary: Add section to course
      operationId: addSection
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSectionRequest'
      responses:
        '201':
          description: Section added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'

  /sections/{id}:
    put:
      tags: [Lessons]
      summary: Update section
      operationId: updateSection
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSectionRequest'
      responses:
        '200':
          description: Section updated

    delete:
      tags: [Lessons]
      summary: Delete section
      operationId: deleteSection
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Section deleted

  /sections/{sectionId}/lessons:
    post:
      tags: [Lessons]
      summary: Add lesson to section
      operationId: addLesson
      security:
        - bearerAuth: []
      parameters:
        - name: sectionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLessonRequest'
      responses:
        '201':
          description: Lesson added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lesson'

  /lessons/{id}:
    get:
      tags: [Lessons]
      summary: Get lesson content
      operationId: getLesson
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Lesson details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lesson'

    put:
      tags: [Lessons]
      summary: Update lesson
      operationId: updateLesson
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLessonRequest'
      responses:
        '200':
          description: Lesson updated

    delete:
      tags: [Lessons]
      summary: Delete lesson
      operationId: deleteLesson
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Lesson deleted

  # ============================================
  # ARTICLES
  # ============================================
  /articles:
    get:
      tags: [Articles]
      summary: List articles
      operationId: listArticles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WorkflowStatus'
        - name: categoryId
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: authorId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleListResponse'

    post:
      tags: [Articles]
      summary: Create article
      operationId: createArticle
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArticleRequest'
      responses:
        '201':
          description: Article created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'

  /articles/{id}:
    get:
      tags: [Articles]
      summary: Get article by ID
      operationId: getArticle
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'

    put:
      tags: [Articles]
      summary: Update article
      operationId: updateArticle
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateArticleRequest'
      responses:
        '200':
          description: Article updated

    delete:
      tags: [Articles]
      summary: Delete article
      operationId: deleteArticle
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Article deleted

  /articles/slug/{slug}:
    get:
      tags: [Articles]
      summary: Get article by slug (public)
      operationId: getArticleBySlug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        '404':
          $ref: '#/components/responses/NotFound'

  /articles/{id}/status:
    patch:
      tags: [Articles]
      summary: Update article workflow status
      operationId: updateArticleStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/WorkflowStatus'
      responses:
        '200':
          description: Status updated

  /articles/{id}/schedule:
    post:
      tags: [Articles]
      summary: Schedule article publishing
      operationId: scheduleArticle
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publishAt]
              properties:
                publishAt:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Publishing scheduled

  # ============================================
  # WORKFLOW & REVIEW
  # ============================================
  /content/{type}/{id}/submit:
    post:
      tags: [Workflow]
      summary: Submit content for review
      operationId: submitForReview
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Submitted for review

  /content/{type}/{id}/approve:
    post:
      tags: [Workflow]
      summary: Approve content
      operationId: approveContent
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
      responses:
        '200':
          description: Content approved

  /content/{type}/{id}/reject:
    post:
      tags: [Workflow]
      summary: Reject content
      operationId: rejectContent
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Content rejected

  /content/{type}/{id}/request-changes:
    post:
      tags: [Workflow]
      summary: Request changes on content
      operationId: requestChanges
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comments]
              properties:
                comments:
                  type: string
      responses:
        '200':
          description: Changes requested

  /content/{type}/{id}/comments:
    get:
      tags: [Workflow]
      summary: Get review comments
      operationId: getReviewComments
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Review comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewComment'

    post:
      tags: [Workflow]
      summary: Add review comment
      operationId: addReviewComment
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                parentId:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Comment added

  /content/{type}/{id}/versions:
    get:
      tags: [Workflow]
      summary: Get version history
      operationId: getVersionHistory
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'

  /content/{type}/{id}/restore/{version}:
    post:
      tags: [Workflow]
      summary: Restore version
      operationId: restoreVersion
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [course, article]
        - $ref: '#/components/parameters/IdParam'
        - name: version
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Version restored

  # ============================================
  # ATTACHMENTS
  # ============================================
  /attachments/upload:
    post:
      tags: [Attachments]
      summary: Upload file
      operationId: uploadAttachment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                contentType:
                  type: string
                  enum: [course, article]
                contentId:
                  type: string
      responses:
        '201':
          description: File uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'

  /attachments/{id}:
    get:
      tags: [Attachments]
      summary: Get attachment metadata
      operationId: getAttachment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Attachment metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'

    delete:
      tags: [Attachments]
      summary: Delete attachment
      operationId: deleteAttachment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Attachment deleted

  /attachments/{id}/download:
    get:
      tags: [Attachments]
      summary: Download attachment
      operationId: downloadAttachment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # ============================================
  # ENROLLMENTS & PROGRESS
  # ============================================
  /enrollments:
    get:
      tags: [Enrollments]
      summary: Get user enrollments
      operationId: getEnrollments
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, dropped]
      responses:
        '200':
          description: User enrollments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentListResponse'

    post:
      tags: [Enrollments]
      summary: Enroll in course
      operationId: enrollInCourse
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [courseId]
              properties:
                courseId:
                  type: string
      responses:
        '201':
          description: Enrolled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'

  /enrollments/{courseId}:
    get:
      tags: [Enrollments]
      summary: Get enrollment status
      operationId: getEnrollmentStatus
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Enrollment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
        '404':
          description: Not enrolled

  /enrollments/{courseId}/progress:
    put:
      tags: [Enrollments]
      summary: Update progress
      operationId: updateProgress
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lessonId:
                  type: string
                progress:
                  type: number
                  minimum: 0
                  maximum: 100
      responses:
        '200':
          description: Progress updated

  /lessons/{id}/complete:
    post:
      tags: [Enrollments]
      summary: Mark lesson complete
      operationId: markLessonComplete
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Lesson marked complete

  # ============================================
  # PUBLIC CONTENT
  # ============================================
  /public/courses:
    get:
      tags: [Public]
      summary: Browse courses
      operationId: browsePublicCourses
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: categoryId
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
      responses:
        '200':
          description: Public courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCourseListResponse'

  /public/courses/{slug}:
    get:
      tags: [Public]
      summary: Get course overview
      operationId: getPublicCourse
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Course overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCourse'

  /public/articles:
    get:
      tags: [Public]
      summary: Browse articles
      operationId: browsePublicArticles
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: categoryId
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Public articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicArticleListResponse'

  /public/articles/{slug}:
    get:
      tags: [Public]
      summary: Read article
      operationId: getPublicArticle
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Article content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicArticle'

  /public/categories:
    get:
      tags: [Public]
      summary: Get public categories
      operationId: getPublicCategories
      responses:
        '200':
          description: Public categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicCategory'

  /public/learning-paths:
    get:
      tags: [Public]
      summary: Get learning paths
      operationId: getLearningPaths
      responses:
        '200':
          description: Learning paths
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningPath'

  /public/search:
    get:
      tags: [Public]
      summary: Search content
      operationId: searchPublicContent
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [all, course, article]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'

  # ============================================
  # TASKS & NOTIFICATIONS
  # ============================================
  /tasks:
    get:
      tags: [Tasks]
      summary: Get user tasks
      operationId: getTasks
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [all, courses, articles]
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WorkflowStatus'
        - name: ownership
          in: query
          schema:
            type: string
            enum: [owned, reviewing, contributed]
      responses:
        '200':
          description: User tasks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'

  /tasks/stats:
    get:
      tags: [Tasks]
      summary: Get task statistics
      operationId: getTaskStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Task statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStats'

  /notifications:
    get:
      tags: [Tasks]
      summary: Get notifications
      operationId: getNotifications
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: unreadOnly
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'

  /notifications/{id}/read:
    patch:
      tags: [Tasks]
      summary: Mark notification as read
      operationId: markNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Marked as read

  /notifications/read-all:
    patch:
      tags: [Tasks]
      summary: Mark all notifications as read
      operationId: markAllNotificationsRead
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All marked as read

  # ============================================
  # ANALYTICS
  # ============================================
  /analytics/overview:
    get:
      tags: [Analytics]
      summary: Get dashboard overview
      operationId: getAnalyticsOverview
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'

  /analytics/users:
    get:
      tags: [Analytics]
      summary: Get user analytics
      operationId: getUserAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [day, week, month]
      responses:
        '200':
          description: User analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAnalytics'

  /analytics/content:
    get:
      tags: [Analytics]
      summary: Get content analytics
      operationId: getContentAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [course, article]
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Content analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentAnalytics'

  /analytics/enrollments:
    get:
      tags: [Analytics]
      summary: Get enrollment analytics
      operationId: getEnrollmentAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [day, week, month]
      responses:
        '200':
          description: Enrollment analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentAnalytics'

  # ============================================
  # COMMENTS (PUBLIC)
  # ============================================
  /articles/{slug}/comments:
    get:
      tags: [Comments]
      summary: Get article comments
      operationId: getArticleComments
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Article comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'

    post:
      tags: [Comments]
      summary: Add comment to article
      operationId: addArticleComment
      security:
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '201':
          description: Comment added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'

  /comments/{id}/reply:
    post:
      tags: [Comments]
      summary: Reply to comment
      operationId: replyToComment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '201':
          description: Reply added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'

  /comments/{id}:
    delete:
      tags: [Comments]
      summary: Delete comment
      operationId: deleteComment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Comment deleted

# ============================================
# COMPONENTS
# ============================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

  schemas:
    # ============================================
    # COMMON SCHEMAS
    # ============================================
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string

    ValidationError:
      type: object
      required: [code, message, errors]
      properties:
        code:
          type: string
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    WorkflowStatus:
      type: string
      enum: [draft, submitted, in_review, approved, published, rejected]

    # ============================================
    # AUTH SCHEMAS
    # ============================================
    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer

    # ============================================
    # USER SCHEMAS
    # ============================================
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar:
          type: string
          nullable: true
        role:
          type: string
        status:
          type: string
          enum: [active, deactivated, invited]
        lastLogin:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateUserRequest:
      type: object
      required: [email, name, role]
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
        password:
          type: string

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
        avatar:
          type: string

    InviteUserRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
        role:
          type: string
        message:
          type: string

    UserListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # ROLE SCHEMAS
    # ============================================
    Role:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        permissions:
          $ref: '#/components/schemas/PermissionMatrix'
        userCount:
          type: integer
        isSystem:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateRoleRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        permissions:
          $ref: '#/components/schemas/PermissionMatrix'

    UpdateRoleRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        permissions:
          $ref: '#/components/schemas/PermissionMatrix'

    Permission:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        module:
          type: string

    PermissionMatrix:
      type: object
      additionalProperties:
        type: object
        properties:
          view:
            type: boolean
          create:
            type: boolean
          edit:
            type: boolean
          delete:
            type: boolean
          publish:
            type: boolean
          manage:
            type: boolean

    # ============================================
    # USER GROUP SCHEMAS
    # ============================================
    UserGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        memberCount:
          type: integer
        members:
          type: array
          items:
            $ref: '#/components/schemas/GroupMember'
        categories:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    GroupMember:
      type: object
      properties:
        userId:
          type: string
        name:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [member, admin]
        joinedAt:
          type: string
          format: date-time

    CreateUserGroupRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string

    UpdateUserGroupRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    # ============================================
    # CATEGORY SCHEMAS
    # ============================================
    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        parentId:
          type: string
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        userGroups:
          type: array
          items:
            type: string
        order:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateCategoryRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        parentId:
          type: string
          nullable: true

    UpdateCategoryRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    PublicCategory:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        icon:
          type: string
        courseCount:
          type: integer
        articleCount:
          type: integer
        children:
          type: array
          items:
            $ref: '#/components/schemas/PublicCategory'

    # ============================================
    # COURSE SCHEMAS
    # ============================================
    Course:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        thumbnail:
          type: string
        categoryId:
          type: string
        authorId:
          type: string
        author:
          $ref: '#/components/schemas/User'
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        duration:
          type: integer
          description: Duration in minutes
        sections:
          type: array
          items:
            $ref: '#/components/schemas/Section'
        enrollmentCount:
          type: integer
        rating:
          type: number
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
          nullable: true

    CourseStructure:
      type: object
      properties:
        sections:
          type: array
          items:
            $ref: '#/components/schemas/Section'

    Section:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        order:
          type: integer
        lessons:
          type: array
          items:
            $ref: '#/components/schemas/Lesson'
        children:
          type: array
          items:
            $ref: '#/components/schemas/Section'

    Lesson:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment]
        content:
          type: string
        duration:
          type: integer
        order:
          type: integer
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'

    CreateCourseRequest:
      type: object
      required: [title, categoryId]
      properties:
        title:
          type: string
        description:
          type: string
        categoryId:
          type: string
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        thumbnail:
          type: string

    UpdateCourseRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        categoryId:
          type: string
        level:
          type: string
        thumbnail:
          type: string

    CreateSectionRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
        parentSectionId:
          type: string
          nullable: true

    UpdateSectionRequest:
      type: object
      properties:
        title:
          type: string
        order:
          type: integer

    CreateLessonRequest:
      type: object
      required: [title, type]
      properties:
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment]
        content:
          type: string
        duration:
          type: integer

    UpdateLessonRequest:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        content:
          type: string
        duration:
          type: integer
        order:
          type: integer

    CourseListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Course'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PublicCourse:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        thumbnail:
          type: string
        author:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            avatar:
              type: string
        level:
          type: string
        duration:
          type: integer
        enrollmentCount:
          type: integer
        rating:
          type: number
        reviewCount:
          type: integer
        curriculum:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              lessonCount:
                type: integer
              duration:
                type: integer
        prerequisites:
          type: array
          items:
            type: string
        learningOutcomes:
          type: array
          items:
            type: string

    PublicCourseListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PublicCourse'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # ARTICLE SCHEMAS
    # ============================================
    Article:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        content:
          type: string
        thumbnail:
          type: string
        categoryId:
          type: string
        authorId:
          type: string
        author:
          $ref: '#/components/schemas/User'
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        tags:
          type: array
          items:
            type: string
        seo:
          $ref: '#/components/schemas/SeoSettings'
        readTime:
          type: integer
        viewCount:
          type: integer
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        scheduledPublishAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
          nullable: true

    SeoSettings:
      type: object
      properties:
        metaTitle:
          type: string
        metaDescription:
          type: string
        focusKeyword:
          type: string
        canonicalUrl:
          type: string
        ogImage:
          type: string

    CreateArticleRequest:
      type: object
      required: [title, categoryId]
      properties:
        title:
          type: string
        content:
          type: string
        excerpt:
          type: string
        categoryId:
          type: string
        tags:
          type: array
          items:
            type: string
        seo:
          $ref: '#/components/schemas/SeoSettings'

    UpdateArticleRequest:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        excerpt:
          type: string
        categoryId:
          type: string
        tags:
          type: array
          items:
            type: string
        seo:
          $ref: '#/components/schemas/SeoSettings'

    ArticleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Article'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PublicArticle:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        content:
          type: string
        thumbnail:
          type: string
        author:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            avatar:
              type: string
            bio:
              type: string
        tags:
          type: array
          items:
            type: string
        readTime:
          type: integer
        publishedAt:
          type: string
          format: date-time
        relatedArticles:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              slug:
                type: string
              thumbnail:
                type: string

    PublicArticleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PublicArticle'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # WORKFLOW SCHEMAS
    # ============================================
    ReviewComment:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        author:
          $ref: '#/components/schemas/User'
        parentId:
          type: string
          nullable: true
        replies:
          type: array
          items:
            $ref: '#/components/schemas/ReviewComment'
        createdAt:
          type: string
          format: date-time

    Version:
      type: object
      properties:
        version:
          type: integer
        author:
          $ref: '#/components/schemas/User'
        changes:
          type: string
        createdAt:
          type: string
          format: date-time

    # ============================================
    # ATTACHMENT SCHEMAS
    # ============================================
    Attachment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
        type:
          type: string
        size:
          type: integer
        createdAt:
          type: string
          format: date-time

    # ============================================
    # ENROLLMENT SCHEMAS
    # ============================================
    Enrollment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        course:
          $ref: '#/components/schemas/Course'
        userId:
          type: string
        status:
          type: string
          enum: [active, completed, dropped]
        progress:
          type: number
        completedLessons:
          type: array
          items:
            type: string
        lastAccessedAt:
          type: string
          format: date-time
        enrolledAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true

    EnrollmentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Enrollment'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # LEARNING PATH SCHEMAS
    # ============================================
    LearningPath:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        role:
          type: string
        icon:
          type: string
        duration:
          type: string
        courseCount:
          type: integer
        courses:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              order:
                type: integer

    # ============================================
    # SEARCH SCHEMAS
    # ============================================
    SearchResults:
      type: object
      properties:
        courses:
          type: array
          items:
            $ref: '#/components/schemas/PublicCourse'
        articles:
          type: array
          items:
            $ref: '#/components/schemas/PublicArticle'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # TASK SCHEMAS
    # ============================================
    Task:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [course, article]
        title:
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        category:
          type: string
        ownershipType:
          type: string
          enum: [owned, reviewing, contributed]
        updatedAt:
          type: string
          format: date-time

    TaskListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    TaskStats:
      type: object
      properties:
        pendingReview:
          type: integer
        myContent:
          type: integer
        myDrafts:
          type: integer
        published:
          type: integer
        notifications:
          type: integer

    # ============================================
    # NOTIFICATION SCHEMAS
    # ============================================
    Notification:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        message:
          type: string
        read:
          type: boolean
        link:
          type: string
        createdAt:
          type: string
          format: date-time

    NotificationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        unreadCount:
          type: integer

    # ============================================
    # ANALYTICS SCHEMAS
    # ============================================
    AnalyticsOverview:
      type: object
      properties:
        totalUsers:
          type: integer
        activeUsers:
          type: integer
        totalCourses:
          type: integer
        publishedCourses:
          type: integer
        totalArticles:
          type: integer
        publishedArticles:
          type: integer
        totalEnrollments:
          type: integer
        completionRate:
          type: number

    UserAnalytics:
      type: object
      properties:
        newUsers:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              count:
                type: integer
        activeUsers:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              count:
                type: integer
        usersByRole:
          type: object
          additionalProperties:
            type: integer

    ContentAnalytics:
      type: object
      properties:
        contentCreated:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              courses:
                type: integer
              articles:
                type: integer
        topCourses:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              enrollments:
                type: integer
              completionRate:
                type: number
        topArticles:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              views:
                type: integer

    EnrollmentAnalytics:
      type: object
      properties:
        enrollmentTrend:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              enrollments:
                type: integer
              completions:
                type: integer
        averageProgress:
          type: number
        completionRate:
          type: number
        dropoutRate:
          type: number

    # ============================================
    # COMMENT SCHEMAS
    # ============================================
    Comment:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        author:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            avatar:
              type: string
        parentId:
          type: string
          nullable: true
        replies:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        likes:
          type: integer
        createdAt:
          type: string
          format: date-time

    CommentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
